@font-face{
    font-family: norse;
    src: url(./fonts/Norse.otf);
}

* {
margin: 0;
}

body{
    display:flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.left-side{
    position: relative;
    display: flex;
    flex-direction:column;
    height:100%;
    flex: 2 2 0%;
}

.left-side > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo{
    padding-top: 10px;
    padding-bottom: 10px;
    top: 25%;
    display:flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    justify-content: center;
    align-items:center;
    font-family:norse;
    font-size: 3rem;
    font-weight: bold;
}

.caption{
    position: absolute;
    bottom: 0;
    align-self: center;
    color: white;
    font-size: .75rem;
}

.logo > img{
   width: 4rem;
   flex-basis:0;
}

.right-side{
    flex: 3 3 0%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.signup-form{
    background-color: white;
}
